*~
*.o
.*.swp
tags
TAGS
hashpipe_check_databuf
hashpipe_check_status
hashpipe_clean_shmem
hashpipe_dump_databuf
hashpipe
*.so
# Autotools cruft
*.la
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
