*~
*.o
.*.swp
tags
TAGS
check_guppi_databuf
check_hashpipe_status
clean_guppi_shmem
dump_databuf
paper_fluff_test
paper_xgpu
*.so
out0
out1
staging
# Autotools cruft
*.la
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
