*~
*.o
*.pyc
.*.swp
tags
TAGS
check_guppi_databuf
check_hashpipe_status
clean_guppi_shmem
dump_databuf
fix_psrfits_polyco
fold_psrfits
guppi_daq
guppi_daq_fold
guppi_daq_server
psrfits_singlepulse
psrfits_subband
test_net_thread
test_psrfits
test_psrfits_read
test_udp_recv
guppi_daq_dedisp
test_dedisp_thread
raw_quant
raw_read
raw_head
vegas_hpc_hbw
vegas_hpc_lbw
paper_fluff_test
paper_xgpu
*.so
out0
out1
staging
# Autotools cruft
*.la
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
